<p>pipe works!</p>

<h1 style="text-align: center;">{{ showDt | date : "dd-MMM-yyyy" | uppercase }}</h1>

<!-- 
MM   -> 2 digits of month
MMM  -> 3 letters character month
MMMM -> full name of month
-->

<hr />


<div class="table-container">
  <table>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Salary</th>
    </tr>
    <tr *ngFor="let emp of employees">
      <td>{{ emp.name | titlecase }}</td>
      <td>{{ emp.state | slice : 0 : 3 | uppercase }}</td>
      <td>{{ emp.salary | currency : "USD" }}</td>
    </tr>
  </table>
</div>

<hr />

<h1>Slice Pipe</h1>
<p>{{ "Angular slice pipe" | slice: 0 : -11}}</p> <!-- Angular -->
<p>{{ "Angular slice pipe" | slice: -11}}</p> <!-- slice pipe -->
<p>{{ "Angular slice pipe" | slice: 0 : 7}}</p> <!-- Angular -->

<br>
<p>{{ sliceArr | slice : -2 }}</p>

<hr />


<p>{{ 1103.12301 | number : "3.3-4" }}</p>
<p>{{ pi | number : "1.2-2" }}</p>
<!-- 
1 digit
2 digits after decimal
2 Maximum length
-->

<h1>{{ "Custom" | appendText: " Pipe" }}</h1>

<h1>Given Array: <span>[{{ numbers | sortNumbers: 'desc' }}]</span></h1>
<div class="button-container">
  <button type="button" (click)="sortOrder = 'asc'; showSorting()">Sort asc</button>
  <button type="button" (click)="sortOrder = 'desc'; showSorting()">Sort desc</button>
</div>

@if(showList) {
<div class="sorted-output">
  @if(sortOrder === 'asc') {
  <h2>Ascending Order</h2>
  }@else if(sortOrder === 'desc') {
  <h2>Descending Order</h2>
  }
  <ul class="number-list">
    @for(number of numbers | sortNumbers: sortOrder; track number) {
    <li>{{ number }}</li>
    }
  </ul>
</div>
}

<hr />

<div class="letter-count-container">
  <h1>Letter Count</h1>
  <div class="inputbox">
    <input type="text" required [(ngModel)]="stringVal" />
    <span>Enter String</span>
  </div>
  <div class="result-container">
    <p>{{ stringVal | letterCount }} letters</p>
  </div>
</div>

<hr />

<div>
  <h1>95. Pure Vs Impure Pipe</h1>
  <button (click)="incrementCounter()">Increment Counter</button>
  <p>Counter Value: {{ countVal | incrementCount }}</p>
</div>

<div>
  <h1>96. Impure Pipe</h1>
  <p>The Sum is {{ myArray | sumOfNumbers }}</p>
  <button (click)="updateValue()">Update Value</button>
</div>